<% if obj.errors.any? %>
  <div class='alert alert-error'>
    <h4>There were some errors:</h4>
    <ul>
      <% obj.errors.full_messages.each do |error| %>
        <li>
          <%= error %>.
        </li>
      <% end%>
    </ul>
  </div>
<% end %>
